/* AdminDashboard.css */

/* .container-fluid {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.user-posts-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff;
}

.loading-message,
.no-posts-message {
  text-align: center;
  color: #555;
}

.user-posts-container {
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

.admin-post-card {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;

  &:hover {
      transform: scale(1.01);
  }
}

.post-details {
  width: 100%;
}

.admin-post-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.admin-post-description {
  color: #555;
}

.admin-post-info {
  font-size: 14px;
  color: #888;
}

.admin-post-image {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}
/* Add these styles to AdminDashboard.css */
.admin-post-card {
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.even-post {
  flex-direction: row-reverse;
}

.admin-post-title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.admin-post-description {
  color: #555;
}

.admin-post-image {
  width: 25%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  margin-right: 15px; /* Adjust the margin based on your design */
}

.post-details {
  flex: 1;
}

/* Rest of the styles remain unchanged */

